body {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #4d5156;
  background-color: #fff;
  margin: 0;
  overflow: hidden;
}
body > div {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: #000;
}
table {
  width: 100%;
}
td:last-child {
  text-align: right;
}
select {
  border: none;
  background: #f8f8f8;
  padding: 2px 5px;
}
#power-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 10px;
}
#power {
  background-image: url(start.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #b5d7ef;
  outline: none;
}
#power:active {
  opacity: 0.5;
}
body[data-status=active] #power {
  background-image: url(stop.png);
  background-color: #c5e0c5;
}
body[data-status=not-available] #power {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(100%);
}
body[data-status=searching] #power {
  animation: searching 2s;
  animation-iteration-count: infinite;
}
@keyframes searching {
  0% {
    filter: grayscale(100%);
    opacity: 0.5;
  }
  25% {
    filter: grayscale(50%);
    opacity: 0.8;
  }
  50% {
    filter: grayscale(0%);
    opacity: 1;
  }
  75% {
    filter: grayscale(50%);
    opacity: 0.8;
  }
  100% {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

#log {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100px;
  padding-top: 4px;
  background-color: #f8f8f8;
  box-shadow: 0 0 0 5px #f8f8f8;
}
#log > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1px;
  padding: 3px 10px;
}
#log > span:not(:last-child) {
  border-bottom: dotted 1px #ccc;
}
#log > span.important {
  color: #ff4545;
  background-color: #fee;
}
#log > span.warning {
  color: #776714;
  background-color: #fffae1;
}
#settings {
  margin-left: 10px;
  margin-right: 10px;
}
#tools {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: #f8f8f8;
}
